<form id="app" novalidate @submit.stop.prevent="open">
<b-container class="content">
  <b-row>
    <b-col class="content">
      <h1>
        <strong>Project 3, Home Ladder
        </strong>
      </h1>
      <h5>
        <strong>
          based on
          <span class="text-primary package">{{package}}</span>
        </strong>
      </h5>
      <p>This project is running in
        <strong class="mode">{{mode}} mode</strong>
      </p>
    </b-col>
  </b-row>

  <div class="md-layout md-gutter">
      <div class="md-layout-item">
        <md-field>
          <label>Start Word</label>
          <md-input v-bind:disabled="loading" v-on:input="checkComplete()" v-model="startWord" maxlength="20"></md-input>
        </md-field>
      </div>
      <div class="md-layout-item">
        <md-field>
          <label>End Word</label>
          <md-input v-bind:disabled="loading" v-on:input="checkComplete()" v-model="endWord" maxlength="20"></md-input>
        </md-field>
      </div>
  </div>
  <md-progress-bar v-if="loading" class="md-accent" md-mode="indeterminate"></md-progress-bar>
  <md-layout md-align="center">
    <md-layout-item>
      <md-button v-on:click="startClick()" v-bind:disabled="!complete || loading" id="button" class="md-raised md-primary">Find Ladder</md-button>
    </md-layout-item>
    <md-layout-item>
      <md-card v-if="ladder.length == 0">
        <md-card-header>
          <div class="md-title">No ladder to be shown.</div>
        </md-card-header>

        <md-card-content>
          Input the start word, input the end word, and click the find button.
        </md-card-content>
      </md-card>
    </md-layout-item>
  </md-layout>

      <md-layout md-align="center">
        <md-table v-if="ladder.length != 0" md-card>
          <md-table-toolbar>
            <h1 class="md-title">Step-by-step</h1>
          </md-table-toolbar>
            <md-table-row>
              <md-table-head md-numeric>Step ID</md-table-head>
              <md-table-head>Word</md-table-head>
            </md-table-row>

            <md-table-row v-for="word in ladder" :key="word">
              <md-table-cell>{{ ladder.indexOf(word) + 1 }}</md-table-cell>
              <md-table-cell>{{ word }}</md-table-cell>
            </md-table-row>

        </md-table>
      </md-layout>
</b-container>
  <md-dialog-alert
    :md-active.sync="showInfo"
    :md-title="infoTitle"
    :md-content="infoMsg"></md-dialog-alert>

</form>

