<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Website Console</title>
</head>
<body>
<h1>Here's word ladder console...</h1>
</body>

<h3><a href="/dashboard/auditevents">GET /auditevents</a>，显示应用暴露的审计事件</h3>
<h3><a href="/dashboard/beans">GET /beans</a>，应用程序上下文中的 Bean</h3>
<h3><a href="/dashboard/conditions">GET /conditions</a>，显示应用的自动配置条件</h3>
<h3><a href="/dashboard/configprops">GET /configprops</a>，描述配置属性注入 Bean 情况</h3>
<h3><a href="/dashboard/env">GET /env</a>，获取环境属性</h3>
<h3><a href="/dashboard/flyway">GET /flyway</a>，获取 Flyway 数据库迁移信息</h3>
<h3><a href="/dashboard/liquidbase">GET /liquidbase</a>，获取 Liquibase 数据库迁移信息</h3>
<h3><a href="/dashboard/health">GET /health</a>，报告应用程序的健康指标</h3>
<h3><a href="/dashboard/heapdump">GET /heapdump</a>，dump 一份 JVM 堆</h3>
<h3><a href="/dashboard/httptrace">GET /httptrace</a>，显示 HTTP 足迹</h3>
<h3><a href="/dashboard/info">GET /info</a>，获取应用的定制信息</h3>
<h3><a href="/dashboard/logfile">GET /logfile</a>，返回 logfile 中的内容</h3>
<h3><a href="/dashboard/loggers">GET /loggers</a>，显示和修改配置的 loggers</h3>
<h3><a href="/dashboard/metrics">GET /metrics</a>，报告各种度量信息</h3>
<h3><a href="/dashboard/scheduledtasks">GET /scheduledtasks</a>，报告应用中的定时任务</h3>
<h3><a href="/dashboard/sessions">GET /sessions</a>，显示应用中的 HTTP sessions 信息</h3>
<h3><a href="/dashboard/mappings">GET /mappings</a>，描述全部的 URI 路径，以及它们的控制器</h3>
<h3><a href="/dashboard/threaddump">GET /threaddump</a>，获取线程活动的快照</h3>

</html>