<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>Hello!</title>
</head>

<body>
    <h1>Welcome here!</h1>
    <p>This is Word Ladder! Click <a th:href="@{/console}">HERE</a> to view console. If you're required to input user
        name and password, use "user" and "user_password".</p>
    <h1>Here's my Word Ladder Project.</h1>
    <h2>Tips</h2> Visit <b> /ladder?start=start_word&end=end_word </b> to use word ladder program.<br>

    <b>Notice: </b> This operation may take several seconds, depending on your words' length.
</body>

</html>